


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tiny App
        <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>

      </a>
    </div>
    <h4 class="navbar-brand-2">Welcome <%= user.email %> !</h4>


    <div class="collapse navbar-collapse" id="myNavbar">
      <form method="POST" action="/logout">
      <input class="btn btn-default" type="submit" value="Logout"></form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/urls">My Links</a></li>
         <li><a href="/">Home</a></li>
       </ul>

    </div>
  </div>
</nav>
