<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ../views/partials/_header %>
    </header>

  <% for(var urlDatabase in urls) { %>
    <li><%= urlDatabase + ': ' + urls[urlDatabase] %></li>
    <% } %>
<br>
  <a href="urls/new">Shorten a new URL</a>
</body>
</html>
