<!DOCTYPE html>
<html  lang="en">
<head>
  <title>TinyApp</title>
  <% include ../views/partials/_head %>

</head>
<div>
<body>

  <header>
    <% include ../views/partials/_header %>
    </header>

  <% for(var urlDatabase in urls) { %>
    <li><%= urlDatabase + ': ' + urls[urlDatabase] %></li>
    <form method="POST" action="/urls/<%= urlDatabase %>/delete">
        <input type="submit" value="Delete"></form> <%}  %>
<% console.log(urlDatabase) %>
<br>
<br>
  <a href="urls/new" type="button" class="btn btn-info" >Shorten a new URL</a>


</body>
</div>
