<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_head %>

  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">



<div class="jumbotron text-center">
  <h1>401</h1>
  <p>Uh Oh! You shouldn't be here.</p>
      <div class="input-group-btn">
        <a href="http://localhost:8080/urls/login" type="button" class="btn btn-info" >Login To Your Account</a>
        <br>
        <a href="http://localhost:8080/register" type="button" class="btn btn-info" >Register For A Account</a>
      </div>
    </div>
  </form>
</div>


<div id="services" class="container-fluid text-center">
  <span class="glyphicon glyphicon-hand-up logo-small"></span>
  <h2>PLEASE CLICK ABOVE TO LOGIN OR REGISTER </h2>
  <br>
  </div>


</body>
</html>
