<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/_head %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class ="login">
  <% if (username) { %>
    <li><a href="/urls">My Links</a></li>
     <li><a href="/">Home</a></li>
     <%  } else  { %>
     <li><a href="/register">Register</a></li>
     <%    } %>
</div>

<div class="jumbotron text-center">

  <h1>Tiny App</h1>
  <p>URL shortener- Login Page</p>
   </ul>
  <form action="/urls/login" method=POST>
    <div class="input-group">
      <input type="email" id="email" name="email" class="form-control" size="50" placeholder="email" required>
        <input type="password" id="password" name="password" class="form-control" size="50" placeholder="password" required>
        <div class="input-group-btn">
          <button type="submit" value="login" class="btn btn-danger">Login</button>
        </div>
    </div>
  </form>
</div>




<div id="services" class="container-fluid text-center">
  <h2>WHY CHOOSE US OVER THE THOUSANDS OF OTHER URL SHORTENERS:</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-thumbs-up logo-small"></span>
      <h4>Becuase you are already here.</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-sunglasses logo-small"></span>
      <h4>Because you're a sucker for marketing.</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-scissors logo-small"></span>
      <h4>Because ultimately you still need that URL shortened.</h4>
    </div>
  </div>
  </div>






<footer class="container-fluid text-center">
  </a>

</footer>

<script>
$(document).ready(function(){

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 900) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
