<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<% include ../views/partials/_head %>
<div class= background>
<div class="container-fluid">
	 <form action="/register" method="POST" class="register-form">
      <div class="row">

      </div>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="email">EMAIL</label>
               <input id="name" name="email" class="form-control" type="email">
           </div>
      </div>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="password">PASSWORD</label>
               <input id="password" name="password" class="form-control" type="password">
           </div>
      </div>
      <hr>
      <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           <button type="submit" class="btn btn-default regbutton">Register</button>

      </div>
    </form>
</div>
</div>

<style>
body, html{
    background-color:#78105D;
   font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;

}
</style>
