<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <header>
      <% include ../views/partials/_header %>
    </header>
  <h1> Display URL:  </h1>
  <b> Your Full URL: </b>
  <%= longURL %>
  <br>
  <b> Your Short Form: </b> <%= shortURL %> </li>
</body>
</html>
