<!DOCTYPE html>
<html  lang="en">
<head>
  <title>TinyApp</title>
  <% include ../views/partials/_head %>

</head>
<div>
<body>

  <header>
    <% include ../views/partials/_header %>
    </header>
<div class= "btn-right">

  <% for(var shortURL in urls) { %>
  <%  if (user.id === urls[shortURL].user_id) { %>
    <a href= "http://localhost:8080/urls/<%= shortURL %>/"> <%= shortURL + ': ' + urls[shortURL].longURL + " (belongs to " +  urls[shortURL].user_id + ")"%></a>
    <form method="POST" action="/urls/<%= shortURL %>/delete">
        <input class="btn btn-danger" type="submit" value="Delete"></form>
<br>
        <form method="GET" action="/urls/<%= shortURL %>">
            <input class="btn btn-warning" type="submit" value="Edit"></form>
            <%}  %>
<% } %>

  </div>
<br>
<br>
  <a href="http://localhost:8080/urls/new" type="button" class="btn btn-info" >Shorten a new URL
</a>


</body>
</div>
